{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>Feed | Freeware</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

     <!-- Feed CSS -->
     <link rel="stylesheet" href="{% static 'css/feed.css' %}">

     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
     
</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="\" class="navbar-brand">Funware</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                         <li class="section-btn" data-toggle="modal" data-target="#feed-add"><i class="fa fa-plus"></i></li>
                         {% if user.is_authenticated %}
                         <li class="section-btn" data-toggle="modal" data-target="#modal-profile">Hello {{ request.user.first_name }}</li>
                         {% else %}
                         <li class="section-btn" data-toggle="modal" data-target="#modal-form">Signup/Signin</li>
                         {% endif %}
                         <!-- data-toggle="modal" data-target="#modal-form" -->
                    </ul>
               </div>

          </div>
     </section>

    
     <section>  <!--Feed-->
          
          <div class="container mb80">
               {% for i in prod %}
               <div class="page-timeline">
                   <div class="vtimeline-point">
                       <div class="vtimeline-icon">
                           <i class="fa fa-image"></i>
                       </div>
                       <div class="vtimeline-block">
                           <span class="vtimeline-date">{{i.onboarded_at}}</span><div class="vtimeline-content">
                               <a href="#"><img src="{{i.image.url}}" alt="" class="img-fluid mb20"></a>
                               <!--https://via.placeholder.com/700x400-->
                               <a href="#"><h3>{{i.name}}</h3></a>
                               <ul class="post-meta list-inline">
                                   <li class="list-inline-item">
                                       <i class="fa fa-user-circle-o"></i> <a href="#">{{i.created_by}}</a>
                                   </li>
                                   <li class="list-inline-item">
                                       <i class="fa fa-calendar-o"></i> <a href="#">{{i.onboarded_at}}</a>
                                   </li>
                                   <li class="list-inline-item">
                                       <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                                   </li>
                               </ul>
                               <p>
                                   {{i.description}}
                               </p><br>
                               <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
                           </div>
                       </div>
                   </div>
               </div>
               {% endfor %}
     </section>     
     <!-- ABOUT -->
     
     <!-- CONTACT -->
     
     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-5 col-sm-12">
                         <div class="footer-thumb footer-info"> 
                              <h2>Funware Company</h2>
                              <p>Greetings, We are plased to introduce you to over 100CR of used products along with their good maintainable owners and some good features while we're at it.  </p>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Company</h2>
                              <ul class="footer-link">
                                   <li><a href="#">About Us</a></li>
                                   <li><a href="#">Join our team</a></li>
                                   <li><a href="#">Read Blog</a></li>
                                   <li><a href="#">Press</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Services</h2>
                              <ul class="footer-link">
                                   <li><a href="#">Pricing</a></li>
                                   <li><a href="#">Documentation</a></li>
                                   <li><a href="#">Support</a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-4"> 
                         <div class="footer-thumb"> 
                              <h2>Find us</h2>
                              <p>123 Grand Rama IX, <br> Krung Thep Maha Nakhon 10400</p>
                         </div>
                    </div>                    

                    <div class="col-md-12 col-sm-12">
                         <div class="footer-bottom">
                              <div class="col-md-6 col-sm-5">
                                   <div class="copyright-text"> 
                                        <p>Copyright &copy; 2017 Your Company</p>
                                   </div>
                              </div>
                              <div class="col-md-6 col-sm-7">
                                   <div class="phone-contact"> 
                                        <p>Call us <span>(+91) 629-697-6912</span></p>
                                   </div>
                                   <ul class="social-icon">
                                        <li><a href="https://www.facebook.com/templatemo" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- MODAL -->
     <section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>Funware</h2>
                                        </div>

                                        <!-- NAV TABS -->
                                        <ul class="nav nav-tabs" role="tablist">
                                             <li><a href="#sign_up" aria-controls="sign_up" role="tab" data-toggle="tab">Sign Up</a></li>
                                             <li class="active"><a href="#sign_in" aria-controls="sign_in" role="tab" data-toggle="tab">Sign In</a></li>
                                        </ul>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             
                                             <div role="tabpanel" class="tab-pane fade in" id="sign_in">
                                                  <form action="/signin" method="post">
                                                       {% csrf_token %}
                                                       <input type="text" class="form-control" name="uname" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="psw" placeholder="Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Signin">
                                                       <a href="https://www.facebook.com/templatemo">Forgot your password?</a>
                                                  </form>
                                             </div>

                                             <div role="tabpanel" class="tab-pane fade in active" id="sign_up">
                                                  <form action="/signup" method="post">
                                                       {% csrf_token %}
                                                       <input type="text" class="form-control" name="uname" placeholder="Username" required>
                                                       <input type="text" class="form-control" name="fname" placeholder="First Name" required>
                                                       <input type="text" class="form-control" name="lname" placeholder="Last Name" required>
                                                       <input type="email" class="form-control" name="email" placeholder="Email" required>
                                                       <input type="password" class="form-control" name="pass" placeholder="Password" required>
                                                       <input type="password" class="form-control" name="password" placeholder="Confirm Password" required>
                                                       <input type="submit" class="form-control" name="submit" value="Signup">
                                                  </form>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!--Profile Model-->

     <section class="modal fade" id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>Funware</h2>
                                        </div>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active">
                                                  <Button onclick="location.href='{% url 'profile' %}'">Profile</Button>
                                                  <Button onclick="location.href='{% url 'signout' %}'">Logout</Button>
                                                  
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- FEED ADD MODAL -->

     <section class="modal fade" id="feed-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content modal-popup">

                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>

                    <div class="modal-body">
                         <div class="container-fluid">
                              <div class="row">

                                   <div class="col-md-12 col-sm-12">
                                        <div class="modal-title">
                                             <h2>Funware</h2>
                                        </div>

                                        <!-- TAB PANES -->
                                        <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane fade in active">
                                                  <form action="/feedpost" method="post">
                                                       {% csrf_token %}
                                                       <input type="text" class="form-control" name="product_name" placeholder="Enter product Name and Model" required>
                                                       <input type="number" class="form-control" name="product_price" placeholder="Enter the Price" required>
                                                       <input type="text" class="form-control" name="product_desc" placeholder="Enter the Product Description" required>
                                                       <input type="file" class="form-control" name="product_img" placeholder="Upload the Image" required>
                                                       <input type="text" class="form-control" name="product_type" placeholder="Enter the type" required>
                                                       <input type="text" class="form-control" name="product_model" placeholder="Enter the Model" required>
                                                       <input type="submit" class="form-control" name="submit" value="Post to Feed">
                                                  </form>               
                                             </div>
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>



     <!-- SCRIPTS -->
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/smoothscroll.js' %}"></script>
     <script src="{% static 'js/custom.js' %}"></script>
     <!-- Feed JS -->

</body>
</html>